.products{
    margin: 0 auto;
    min-height: 500px;
    width: 100%;

    h1{
        margin: 0 auto;
        text-align: center;
        font-family: 'Lucida Sans';
        font-size: 30px;
    }

    h3{
        margin: 0 auto;
        text-align: center;
        padding-top: 100px;
        max-width:650px;
        color: #1d1f2e;
        font-size: 23px;
        font-family: 'Lucida Sans';

    }

    p{
        margin: 0 auto;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        max-width:650px;
        color:grey;
        line-height: 25px;
        font-size: 16px;
        font-family: 'Lucida Sans';

    }
    

    .mugs{
        margin: 0 auto;
        margin-top: 25px;
         display: flex;
         align-items: center; 
         justify-content: space-evenly;

        .mug-link{
            margin: 0 auto;
            min-height: 500px;
            width: 300px;
            img{
                height: 400px;
                width: 300px;

            }

            .mug-price{
                margin: 0 auto;
                width: 300px;

                a{
                    margin: 0 auto;
                    text-decoration: none;
                    text-align: center;
                    padding-left: 50px;
                    color: #1d1f2e;
                    font-size: 23px;
                    font-family: 'Lucida Sans';
                }
                p{
                    margin: 0 auto;
                    text-align: center;
                    padding-top: 10px;
                    padding-bottom: 30px;
                    text-transform: uppercase;

                    color:grey;

                    font-size: 16px;
                    font-family: 'Lucida Sans';
            
                }
            }
        }
    }
}

@media screen and (max-width: 800px){
    .products{
        
    
        h1{
            
        }
    
        h3{
          
    
        }
    
        p{
            
    
        }
        
    
        .mugs{
            flex-direction: column;
    
            .mug-link{
               
                img{
                    
    
                }
    
                .mug-price{
                    
    
                    a{
                        
                    }
                    p{
                        
                
                    }
                }
            }
        }
    }

}